
<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="project">

    <div class="post_title">
      <h2 >
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{project.id}}">{{project.title}}</a> 
      <span class="content_date"> {{format_date project.date_created}}</span>
      </h2>
    <div>
    <div class="content_data">
        <div class="content_subdata">
          <p>Content : </p>
          {{project.content}}
        </div>
    </div>
    <div class="comment"> 
      {{#if project.comment.length}}
        <div>
          <p>
            Comment :
            {{project.comment}}
          </p>
        </div>

      {{/if}}
    </div>

 
    </div>
    </div>
</div>
{{/each}}